<section class="section">
  <div class="main-container">
    <div class="section__content teamy-team">
      <article class="teamy teamy_style2 teamy_mask-circle">
        <div class="teamy__layout">
          <div class="teamy__preview">
            <img src="https://stas-melnikov.ru/cliparts/girl2_424x640.jpg" class="teamy__avatar" alt="The demo photo">
          </div>
          <div class="teamy__back">
            <div class="teamy__back-inner">
              <a href="#0" class="social">
                <i class="fa fa-twitter"> </i>
              </a>
              <a href="#0" class="social">
                <i class="fa fa-facebook"> </i>
              </a>
              <a href="#0" class="social">
                <i class="fa fa-linkedin"> </i>
              </a>
            </div>
          </div>
        </div>
        <div class="teamy__content">
          <h3 class="teamy__name">Suzan Lois</h3>
          <span class="teamy__post">Graphic Designer</span>
        </div>
      </article>
      <article class="teamy teamy_style2 teamy_mask-circle teamy_zoom-photo">
        <div class="teamy__layout">
          <div class="teamy__preview">
            <img src="https://stas-melnikov.ru/cliparts/girl3_424x640.jpg" class="teamy__avatar" alt="The demo photo">
          </div>
          <div class="teamy__back">
            <div class="teamy__back-inner">
              <a href="#0" class="social">
                <i class="fa fa-twitter"> </i>
              </a>
              <a href="#0" class="social">
                <i class="fa fa-facebook"> </i>
              </a>
              <a href="#0" class="social">
                <i class="fa fa-linkedin"> </i>
              </a>
            </div>
          </div>
        </div>
        <div class="teamy__content">
          <h3 class="teamy__name">Dora Caelan</h3>
          <span class="teamy__post">HR-manager</span>
        </div>
      </article>
      <article class="teamy teamy_style2 teamy_mask-circle teamy_zoom-rotate-photo">
        <div class="teamy__layout">
          <div class="teamy__preview">
            <img src="https://stas-melnikov.ru/cliparts/girl4_424x640.jpg" class="teamy__avatar" alt="The demo photo">
          </div>
          <div class="teamy__back">
            <div class="teamy__back-inner">
              <a href="#0" class="social">
                <i class="fa fa-twitter"> </i>
              </a>
              <a href="#0" class="social">
                <i class="fa fa-facebook"> </i>
              </a>
              <a href="#0" class="social">
                <i class="fa fa-linkedin"> </i>
              </a>
            </div>
          </div>
        </div>
        <div class="teamy__content">
          <h3 class="teamy__name">Rosanna Pattie</h3>
          <span class="teamy__post">Illustrator</span>
        </div>
      </article>
      <article class="teamy teamy_style2 teamy_mask-circle teamy_zoom-slide-photo">
        <div class="teamy__layout">
          <div class="teamy__preview">
            <img src="https://stas-melnikov.ru/cliparts/girl5_424x640.jpg" class="teamy__avatar" alt="The demo photo">
          </div>
          <div class="teamy__back">
            <div class="teamy__back-inner">
              <a href="#0" class="social">
                <i class="fa fa-twitter"> </i>
              </a>
              <a href="#0" class="social">
                <i class="fa fa-facebook"> </i>
              </a>
              <a href="#0" class="social">
                <i class="fa fa-linkedin"> </i>
              </a>
            </div>
          </div>
        </div>
        <div class="teamy__content">
          <h3 class="teamy__name">Rose Alpha</h3>
          <span class="teamy__post">Photographer</span>
        </div>
      </article>
      <article class="teamy teamy_style2 teamy_mask-circle teamy_zoom-slide-photo">
        <div class="teamy__layout">
          <div class="teamy__preview">
            <img src="https://stas-melnikov.ru/cliparts/girl5_424x640.jpg" class="teamy__avatar" alt="The demo photo">
          </div>
          <div class="teamy__back">
            <div class="teamy__back-inner">
              <a href="#0" class="social">
                <i class="fa fa-twitter"> </i>
              </a>
              <a href="#0" class="social">
                <i class="fa fa-facebook"> </i>
              </a>
              <a href="#0" class="social">
                <i class="fa fa-linkedin"> </i>
              </a>
            </div>
          </div>
        </div>
        <div class="teamy__content">
          <h3 class="teamy__name">Rose Alpha</h3>
          <span class="teamy__post">Photographer</span>
        </div>
      </article>
      <article class="teamy teamy_style2 teamy_mask-circle teamy_zoom-slide-photo">
        <div class="teamy__layout">
          <div class="teamy__preview">
            <img src="https://stas-melnikov.ru/cliparts/girl5_424x640.jpg" class="teamy__avatar" alt="The demo photo">
          </div>
          <div class="teamy__back">
            <div class="teamy__back-inner">
              <a href="#0" class="social">
                <i class="fa fa-twitter"> </i>
              </a>
              <a href="#0" class="social">
                <i class="fa fa-facebook"> </i>
              </a>
              <a href="#0" class="social">
                <i class="fa fa-linkedin"> </i>
              </a>
            </div>
          </div>
        </div>
        <div class="teamy__content">
          <h3 class="teamy__name">Rose Alpha</h3>
          <span class="teamy__post">Photographer</span>
        </div>
      </article>
      <article class="teamy teamy_style2 teamy_mask-circle teamy_zoom-slide-photo">
        <div class="teamy__layout">
          <div class="teamy__preview">
            <img src="https://stas-melnikov.ru/cliparts/girl5_424x640.jpg" class="teamy__avatar" alt="The demo photo">
          </div>
          <div class="teamy__back">
            <div class="teamy__back-inner">
              <a href="#0" class="social">
                <i class="fa fa-twitter"> </i>
              </a>
              <a href="#0" class="social">
                <i class="fa fa-facebook"> </i>
              </a>
              <a href="#0" class="social">
                <i class="fa fa-linkedin"> </i>
              </a>
            </div>
          </div>
        </div>
        <div class="teamy__content">
          <h3 class="teamy__name">Rose Alpha</h3>
          <span class="teamy__post">Photographer</span>
        </div>
      </article>
      <article class="teamy teamy_style2 teamy_mask-circle teamy_zoom-slide-photo">
        <div class="teamy__layout">
          <div class="teamy__preview">
            <img src="https://stas-melnikov.ru/cliparts/girl5_424x640.jpg" class="teamy__avatar" alt="The demo photo">
          </div>
          <div class="teamy__back">
            <div class="teamy__back-inner">
              <a href="#0" class="social">
                <i class="fa fa-twitter"> </i>
              </a>
              <a href="#0" class="social">
                <i class="fa fa-facebook"> </i>
              </a>
              <a href="#0" class="social">
                <i class="fa fa-linkedin"> </i>
              </a>
            </div>
          </div>
        </div>
        <div class="teamy__content">
          <h3 class="teamy__name">Rose Alpha</h3>
          <span class="teamy__post">Photographer</span>
        </div>
      </article>
    </div>
  </div>
</section>