<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<body>
	<!-- banner -->
	<div class="banner w3about">
		<!-- header -->
		<div class="header">
			<div class="container">
				<div class="header-w3lsrow"> 
					<div class="menu"> 
						<div class="toggle"></div> 
						<ul class="w3nav">
							<li><a href="index.html"> Home</a></li>
							<li><a href="about.html" class="active"> About</a></li> 
							<li><a href="gallery.html"> Gallery</a></li> 
							<li><a href="contact.html"> Contact Us</a></li>
						</ul>
						<div class="clearfix"> </div>
					</div> 
					<div class="logo">
						<h1><a href="index.html">IGIRE</a></h1>
					</div>  
					<div class="header-right">   
						<ul class="hidden-xs header-icon">
							<li><a href="https://web.facebook.com/igirerwandaorganization/" target="_blank"><i class="fa fa-facebook"> </i><span>Facebook</span></a></li>
							<li><a href="https://twitter.com/igirerwandaorg" target="_blank"><i class="fa fa-twitter"> </i><span>Twitter</span></a></li>
							<li><a href="#" target="_blank"><i class="fa fa-google-plus"> </i><span>Google +</span></a></li>
							<li><a href="#" target="_blank"><i class="fa fa-linkedin"> </i><span>LinkedIn</span></a></li>
						</ul>
						<div class="clearfix"> </div> 
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<!-- //header --> 
		<!-- banner-text -->
		<div class="banner-text"> 
			<div class="container"> 
				<div class="banner-w3lstext">
					<h2>About Us</h2>
				</div> 	 
			</div>
		</div>
		<!-- //banner-text --> 
	</div>
	<!-- //banner -->
	<!-- about -->
	<div class="about">
		<div class="container"> 
			<div class="about-w3ls-row"> 
				<div class="col-md-5 about-left">
					<img src="https://farm5.staticflickr.com/4560/37852645945_9e4ddabce4_z.jpg" class="img-responsive" alt=""/>
				</div>
				<div class="col-md-7 about-right"> 
					<div class="about-agile-row">
						<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
							<ul id="myTab" class=" nav-tabs" role="tablist">
								<li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true"><small>IRO</small></a></li>
								<li role="presentation"><a href="#carl" role="tab" id="carl-tab" data-toggle="tab" aria-controls="carl"><small>YOUTH</small></a></li>
								<li role="presentation"><a href="#girls" role="tab" id="girls-tab" data-toggle="tab" aria-controls="carl"><small>GIRLS</small></a></li>
								<li role="presentation"><a href="#poverty" role="tab" id="poverty-tab" data-toggle="tab" aria-controls="carl"><small>POVERTY</small></a></li>
								<li role="presentation"><a href="#climate" role="tab" id="climate-tab" data-toggle="tab" aria-controls="carl"><small>CLIMATE</small></a></li>
							</ul> 
							<div class="clearfix"> </div>
							<div id="myTabContent" class="tab-content">
								<div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
									<div class="tabcontent-grids">
										<p>Igire Programs</p>
										<ul>
											<li><i class="fa fa-check-square-o"></i> Education promotion</li>
											<li><i class="fa fa-check-square-o"></i> 
											Youth empowerment </li>
											<li><i class="fa fa-check-square-o"></i>
											Girls education promotion </li>
											<li><i class="fa fa-check-square-o"></i>
											Human Rights Empowerment</li> 
											<li><i class="fa fa-check-square-o"></i>
											Climate change promotion</li>
											<li><i class="fa fa-check-square-o"></i>
											Women empowerment</li>
											<li><i class="fa fa-check-square-o"></i>
											 Children’s rights awareness</li>
										</ul>
									</div>
								</div>
								<div role="tabpanel" class="tab-pane fade" id="carl" aria-labelledby="carl-tab">
									<div class="tabcontent-grids">
										<p>Our goal is to work with youth to support the global goals by supporting and encouraging youth to be the foundation for ending poverty in all its manifestations by 2030. We also committed to ensuring social protection for the poor and vulnerable, increase access to basic services and support people harmed by climate-related extreme events and other economic, social and environmental shocks and disasters</p>
									</div>
								</div>
								<div role="tabpanel" class="tab-pane fade" id="girls" aria-labelledby="girls-tab">
									<div class="tabcontent-grids">
										<p>
											Gender equality and women’s empowerment have advanced in recent decades. Girls’ access to education has improved, the rate of child marriage declined and progress was made in the area of sexual and reproductive health and reproductive rights, including fewer maternal deaths. Nevertheless, gender equality remains a persistent challenge for countries worldwide and the lack of such equality is a major obstacle to sustainable development.
										</p>
									</div>
								</div>
								<div role="tabpanel" class="tab-pane fade" id="poverty" aria-labelledby="poverty-tab">
									<div class="tabcontent-grids">
										<p>
											Our goal is to work with youth to end poverty in all its manifestations by 2030. We also aim to ensure social protection for the poor and vulnerable, increase access to basic services and support people harmed by climate-related extreme events and other economic, social and environmental shocks and disasters. 
										</p>
									</div>
								</div>
								<div role="tabpanel" class="tab-pane fade" id="climate" aria-labelledby="climate-tab">
									<div class="tabcontent-grids">
										<p>
											Climate change presents the single biggest threat to development, and its widespread, unprecedented impacts disproportionately burden the poorest and most vulnerable. Urgent action to combat climate change and minimise its disruptions is integral to the successful implementation of the Sustainable Development Goals.
										</p>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
					</div>
				</div> 
				<div class="clearfix"> </div> 
			</div>
		</div>
	</div>
	<!-- //about -->
	<!-- services -->
	<div class="services agileits-bar"> 
		<div class="container">	 
			<h3 class="w3agileits-title">Our Statistics</h3> 
			<div class="services-w3ls-row"> 
				<div class="bar_group"> 
					<div class='bar_group__bar thin' label='Lorem ipsum &nbsp;&nbsp; 80%' value='200'></div>
					<div class='bar_group__bar thin' label='Quis nostrud &nbsp;&nbsp; 100%' value='250'></div>
					<div class='bar_group__bar thin' label='Sed do eiusmod &nbsp;&nbsp; 72%' value='180'></div>
					<div class='bar_group__bar thin' label='Ut enim adnim &nbsp;&nbsp; 88%' value='220'></div>  
				</div>
				<!-- bar-js -->
				<script src="js/bars.js"></script>
				<!-- //bar-js --> 	
			</div>	 			
		</div>	 			
	</div>			
	<!-- //services -->
	<!-- team -->
	<div class="team agileits">
		<div class="team-info">
			<div class="container">
				<h3 class="w3agileits-title">Our Team</h3> 
				<div class="team-row">
					<div class="col-md-3 col-sm-6 col-xs-6 team-grids">
						<div class="team-agile-img"> 
							<a href="#"><img src="http://res.cloudinary.com/nexpals/image/upload/v1511948418/img1_lsx9n3.jpg" alt="img"></a>
							<div class="view-caption">
								<div class="w3ls-info">
									<h4>Smith</h4> 
									<p>Manager</p>
								</div>
								<ul>
									<li><a href="#"><span class="fa fa-facebook"></span></a></li>
									<li><a href="#"><span class="fa fa-twitter"></span></a></li>
									<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
								</ul>
							</div>    
						</div>
					</div>					
					<div class="col-md-3 col-sm-6 col-xs-6 team-grids">
						<div class="team-agile-img"> 
							<a href="#"><img src="https://farm5.staticflickr.com/4528/38668193586_944aed03fb_b.jpg"></a>
							<div class="view-caption">
								<div class="w3ls-info">
									<h4>Innocent Mbanda</h4> 
									<p>CEO</p>
								</div>
								<ul>
									<li><a href="#"><span class="fa fa-facebook"></span></a></li>
									<li><a href="#"><span class="fa fa-twitter"></span></a></li>
									<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
								</ul>
							</div>    
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 team-grids">
						<div class="team-agile-img"> 
							<a href="#"><img src="http://res.cloudinary.com/nexpals/image/upload/v1511948426/img4_azyxn9.jpg" alt="img"></a>
							<div class="view-caption">
								<div class="w3ls-info">
									<h4>Michael</h4> 
									<p>Staff</p>
								</div>
								<ul>
									<li><a href="#"><span class="fa fa-facebook"></span></a></li>
									<li><a href="#"><span class="fa fa-twitter"></span></a></li>
									<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
								</ul>
							</div>    
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 team-grids">
						<div class="team-agile-img"> 
							<a href="#"><img src="http://res.cloudinary.com/nexpals/image/upload/v1511948426/img4_azyxn9.jpg" alt="img"></a>
							<div class="view-caption">
								<div class="w3ls-info">
									<h4>Daniel</h4> 
									<p>Chairman</p>
								</div>
								<ul>
									<li><a href="#"><span class="fa fa-facebook"></span></a></li>
									<li><a href="#"><span class="fa fa-twitter"></span></a></li>
									<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
								</ul>
							</div>    
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
	<!-- //team -->   
	<!-- menu js -->
	<script>
		$('.toggle').on('click', function() {
			$('.menu').toggleClass('open');  
			$('.w3nav').toggleClass('show-w3nav');  
			$('.w3nav a').toggleClass('show-w3nav-link');  
			$('.toggle').toggleClass('close');
			$('.header-icon').toggle(800);  
		});
	</script>
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
			
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>
	<!-- //end-smooth-scrolling -->	
	<!-- smooth-scrolling-of-move-up -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/
			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
</body>
</html>