<!DOCTYPE html>
<html lang="en">
<body>
	<!-- banner -->
	<div class="banner w3about">
		<!-- header -->
		<div class="header">
			<div class="container">
				<div class="header-w3lsrow"> 
					<div class="menu"> 
						<div class="toggle"></div> 
						<ul class="w3nav">
							<li><a href="index.html"> Home</a></li>
							<li><a href="about.html"> About</a></li> 
							<li><a href="gallery.html"> Gallery</a></li>
							<li><a href="contact.html" class="active"> Contact Us</a></li>
						</ul>
						<div class="clearfix"> </div>
					</div> 
					<div class="logo">
						<h1><a href="index.html">Drive</a></h1>
					</div>  
					<div class="header-right">   
						<ul class="hidden-xs header-icon">
							<li><a href="https://web.facebook.com/igirerwandaorganization/" target="_blank"><i class="fa fa-facebook"> </i><span>Facebook</span></a></li>
							<li><a href="https://twitter.com/igirerwandaorg" target="_blank"><i class="fa fa-twitter"> </i><span>Twitter</span></a></li>
							<li><a href="#" target="_blank"><i class="fa fa-google-plus"> </i><span>Google +</span></a></li>
							<li><a href="#" target="_blank"><i class="fa fa-linkedin"> </i><span>LinkedIn</span></a></li>
						</ul>
						<div class="clearfix"> </div> 
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<!-- //header --> 
		<!-- banner-text -->
		<div class="banner-text"> 
			<div class="container"> 
				<div class="banner-w3lstext">
					<h2>Contact</h2>
				</div> 	 
			</div>
		</div>
		<!-- //banner-text --> 
	</div>
	<!-- //banner -->
	<!-- contact -->
	<div class="map">
		<iframe width="450" height="250" frameborder="0" style="border:10px"
		src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJRaq3WRen3BkRhXzRmqJQ3iw&key=AIzaSyCXJoXjURY8_KXLfPJuZfS1l1SsgubR-WI" allowfullscreen></iframe> 
	</div>
	<div class="contact">
		<div class="container">
			<h3 class="w3agileits-title">Get Involved</h3> 
			<div class="contact-info">	
				<div class="col-md-4 contact-grids">
					<div class="cnt-address">
						<h3 class="title1">Address</h3> 
						<p>KG 11 Av 183.
							<span>Kimironko</span>
							Kigali, Rwanda
						</p> 
						<p>Telephone: +250785668160
							<span>FAX: +1 234 567 9871</span>
							E-mail: <a href="#">info@igirerwanda.org</a>
						</p>
					</div>
				</div>
				<div class="col-md-8 contact-grids">
					<h5>Donation.</h5>
					<p>Igire Rwanda Organization like any other organization depends on generous donations and sponsorship of individuals, companies and donors. To make donation, please Send email to <a href="#">donate@igirerwanda.org</a>
					<br>
					We will show you have to get back to you will also process.
					You can also contact us at <b>+250785668160</b></p>		
					<div class="contact-form">  
						<form action="#" method="post">
							<textarea name="Message" placeholder="Message" required=""></textarea>
							<input type="text" name="First Name" placeholder="Name" required="">
							<input type="text" name="Email" placeholder="Email" required=""> 
							<input type="submit" value="SUBMIT">
						</form> 
					</div>
				</div> 
				<div class="clearfix"> </div>
			</div>
		</div>
	</div> 
	<!-- //contact --> 
	<!-- menu js -->
	<script>
		$('.toggle').on('click', function() {
			$('.menu').toggleClass('open');  
			$('.w3nav').toggleClass('show-w3nav');  
			$('.w3nav a').toggleClass('show-w3nav-link');  
			$('.toggle').toggleClass('close');
			$('.header-icon').toggle(800);  
		});
	</script>
	<!-- //menu js -->
	<!-- start-smooth-scrolling -->
	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" src="js/easing.js"></script>	
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
			
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>
	<!-- //end-smooth-scrolling -->	
	<!-- smooth-scrolling-of-move-up -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/
			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
</body>
</html>