<!DOCTYPE html>
<html lang="en">
<body> 
	<!-- banner -->
	<div class="banner w3about">
		<!-- header -->
		<div class="header">
			<div class="container">
				<div class="header-w3lsrow"> 
					<div class="menu"> 
						<div class="toggle"></div> 
						<ul class="w3nav">
							<li><a href="index.html"> Home</a></li>
							<li><a href="about.html"> About</a></li> 
							<li><a href="gallery.html" class="active"> Gallery</a></li>
							<li><a href="contact.html"> Contact Us</a></li>
						</ul>
						<div class="clearfix"> </div>
					</div> 
					<div class="logo">
						<h1><a href="index.html">Igire</a></h1>
					</div>  
					<div class="header-right">   
						<ul>
							<li><a href="signin.html">SignIn</a></li>
							<li><a href="signup.html">SignUp</a></li> 
						</ul>
						<div class="clearfix"> </div> 
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<!-- //header --> 
		<!-- banner-text -->
		<div class="banner-text"> 
			<div class="container"> 
				<div class="banner-w3lstext">
					<h2>Gallery</h2>
				</div> 	 
			</div>
		</div>
		<!-- //banner-text --> 
	</div>
	<!-- //banner -->
	<!-- gallery -->
	<div class="gallery">
		<div class="container">  
			<h3 class="w3agileits-title">Events</h3> 
			<div class="gallery-grids-top">
				<div class="gallery-grids">
					<div class="col-md-4 col-sm-4 col-xs-6 gallery-grid-img hover ehover14"> 
						<a class="example-image-link" href="http://res.cloudinary.com/nexpals/image/upload/v1511948417/g1_pggm2n.jpg" data-lightbox="example-set" data-title="">
							<img class="example-image img-responsive" src="http://res.cloudinary.com/nexpals/image/upload/v1511948417/g1_pggm2n.jpg" alt=""/> 
							<div class="overlay">
								<h4>Gallery</h4>
							</div> 
						</a> 
					</div>  
					<div class="col-md-4 col-sm-4 col-xs-6 gallery-grid-img hover ehover14">
						<a class="example-image-link" href="http://res.cloudinary.com/nexpals/image/upload/v1511948417/g1_pggm2n.jpg" data-lightbox="example-set" data-title="">
							<img class="example-image img-responsive" src="http://res.cloudinary.com/nexpals/image/upload/v1511948417/g1_pggm2n.jpg" alt=""/> 
							<div class="overlay">
								<h4>Gallery</h4>
							</div> 
						</a> 
					</div>
					<div class="col-md-4 col-sm-4 col-xs-6 gallery-grid-img hover ehover14">
						<a class="example-image-link" href="http://res.cloudinary.com/nexpals/image/upload/v1511948417/g1_pggm2n.jpg" data-lightbox="example-set" data-title="">
							<img class="example-image img-responsive" src="http://res.cloudinary.com/nexpals/image/upload/v1511948417/g1_pggm2n.jpg" alt=""/> 
							<div class="overlay">
								<h4>Gallery</h4>
							</div> 
						</a> 
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6 gallery-grid-img gallery-mdl hover ehover14"> 
						<a class="example-image-link" href="http://res.cloudinary.com/nexpals/image/upload/v1511948417/g1_pggm2n.jpg" data-lightbox="example-set" data-title="">
							<img class="example-image img-responsive" src="http://res.cloudinary.com/nexpals/image/upload/v1511948417/g1_pggm2n.jpg" alt=""/> 
							<div class="overlay">
								<h4>Gallery</h4>
							</div> 
						</a>
					</div>  
					<div class="col-md-6 col-sm-6 col-xs-6 gallery-grid-img gallery-mdl hover ehover14">
						<a class="example-image-link" href="http://res.cloudinary.com/nexpals/image/upload/v1511948417/g1_pggm2n.jpg" data-lightbox="example-set" data-title="">
							<img class="example-image img-responsive" src="http://res.cloudinary.com/nexpals/image/upload/v1511948417/g1_pggm2n.jpg" alt=""/>
							<div class="overlay">
								<h4>Gallery</h4>
							</div> 
						</a> 
					</div>
					<div class="col-md-4 col-sm-4 col-xs-6 gallery-grid-img hover ehover14"> 
						<a class="example-image-link" href="http://res.cloudinary.com/nexpals/image/upload/v1511948417/g1_pggm2n.jpg" data-lightbox="example-set" data-title="">
						<img class="example-image img-responsive" src="http://res.cloudinary.com/nexpals/image/upload/v1511948417/g1_pggm2n.jpg" alt=""/>
							<div class="overlay">
								<h4>Gallery</h4>
							</div> 
						</a> 
					</div>  
					<div class="col-md-4 col-sm-4 col-xs-6 gallery-grid-img hover ehover14">
						<a class="example-image-link" href="http://res.cloudinary.com/nexpals/image/upload/v1511948417/g1_pggm2n.jpg" data-lightbox="example-set" data-title="">
							<img class="example-image img-responsive" src="http://res.cloudinary.com/nexpals/image/upload/v1511948417/g1_pggm2n.jpg" alt=""/> 
							<div class="overlay">
								<p>Niki Utavuga Ngo mbikwereke, mugihe turikumwe</p>
							</div> 
						</a> 
					</div>
					<div class="col-md-4 col-sm-4 col-xs-6 gallery-grid-img hover ehover14">
						<a class="example-image-link" href="http://res.cloudinary.com/nexpals/image/upload/v1511948417/g1_pggm2n.jpg" data-lightbox="example-set" data-title="">
							<img class="example-image img-responsive" src="http://res.cloudinary.com/nexpals/image/upload/v1511948417/g1_pggm2n.jpg" alt=""/>
							<div class="overlay">
								<h4>Gallery</h4>
							</div> 
						</a>
					</div>	
					<div class="clearfix"> </div>	
					<script src="js/lightbox-plus-jquery.min.js"></script>	
				</div> 
			</div> 
		</div>
	</div>
	<!-- //gallery -->   
	<!-- menu js -->
	<script>
		$('.toggle').on('click', function() {
			$('.menu').toggleClass('open');  
			$('.w3nav').toggleClass('show-w3nav');  
			$('.w3nav a').toggleClass('show-w3nav-link');  
			$('.toggle').toggleClass('close');  
		});
	</script>
	<!-- //menu js -->
	<!-- start-smooth-scrolling -->
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
			
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>
	<!-- //end-smooth-scrolling -->	
	<!-- smooth-scrolling-of-move-up -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/
			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
</body>
</html>