<!DOCTYPE html>
<html lang="en">
<body> 
	<!-- banner -->
	<div class="banner w3about">
		<!-- header -->
		<div class="header">
			<div class="container">
				<div class="header-w3lsrow"> 
					<div class="menu"> 
						<div class="toggle"></div> 
						<ul class="w3nav">
							<li><a href="index.html"> Home</a></li>
							<li><a href="about.html"> About</a></li> 
							<li><a href="gallery.html" class="active"> Gallery</a></li>
							<li><a href="contact.html"> Contact Us</a></li>
							<li><a href="team.html">Our Team</a></li>
						</ul>
						<div class="clearfix"> </div>
					</div> 
					<div class="logo">
						<h1><a href="index.html">Igire</a></h1>
					</div>  
					<div class="header-right">   
						<ul class="hidden-xs header-icon">
							<li><a href="https://web.facebook.com/igirerwandaorganization/" target="_blank"><i class="fa fa-facebook"> </i><span>Facebook</span></a></li>
							<li><a href="https://twitter.com/igirerwandaorg" target="_blank"><i class="fa fa-twitter"> </i><span>Twitter</span></a></li>
							<li><a href="#" target="_blank"><i class="fa fa-linkedin"> </i><span>LinkedIn</span></a></li>
						</ul>
						<div class="clearfix"> </div> 
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<!-- //header --> 
		<!-- banner-text -->
		<div class="banner-text"> 
			<div class="container"> 
				<div class="banner-w3lstext">
					<h2>Gallery</h2>
				</div> 	 
			</div>
		</div>
		<!-- //banner-text --> 
	</div>
	<!-- //banner -->
	<!-- gallery -->
	<div class="gallery">
		<div class="container">  
			<h3 class="w3agileits-title">Events | Activities | Photos</h3> 
			<div class="gallery-grids-top">
				<div class="gallery-grids">
					<div class="col-md-4 col-sm-4 col-xs-6 gallery-grid-img hover ehover14"> 
						<a class="example-image-link" href="http://res.cloudinary.com/nexpals/image/upload/v1511948417/g1_pggm2n.jpg" data-lightbox="example-set" data-title="">
							<img class="example-image img-responsive" src="https://farm5.staticflickr.com/4560/26963714559_2f783e4377_z.jpg" alt=""/> 
							<div class="overlay">
								<h4>Girls in Tech | Class Activity</h4>
							</div> 
						</a> 
					</div>  
					<div class="col-md-4 col-sm-4 col-xs-6 gallery-grid-img hover ehover14">
						<a class="example-image-link" href="http://res.cloudinary.com/nexpals/image/upload/v1511948417/g1_pggm2n.jpg" data-lightbox="example-set" data-title="">
							<img class="example-image img-responsive" src="https://farm5.staticflickr.com/4571/37852321615_d96d18a882_z.jpg" alt=""/> 
							<div class="overlay">
								<h4>Girls in ICT | Class Activity</h4>
							</div> 
						</a> 
					</div>
					<div class="col-md-4 col-sm-4 col-xs-6 gallery-grid-img hover ehover14">
						<a class="example-image-link" href="http://res.cloudinary.com/nexpals/image/upload/v1511948417/g1_pggm2n.jpg" data-lightbox="example-set" data-title="">
							<img class="example-image img-responsive" src="https://farm5.staticflickr.com/4529/37836197515_51cddd15a9_b.jpg" alt=""/> 
							<div class="overlay">
								<h4>Course Facilitation</h4>
							</div> 
						</a> 
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6 gallery-grid-img gallery-mdl hover ehover14"> 
						<a class="example-image-link" href="http://res.cloudinary.com/nexpals/image/upload/v1511948417/g1_pggm2n.jpg" data-lightbox="example-set" data-title="">
							<img class="example-image img-responsive" src="https://farm5.staticflickr.com/4557/38668189826_f7d4060e2f_b.jpg" alt="graduation"/> 
							<div class="overlay">
								<h4>Girls in ICT</h4>
							</div> 
						</a>
					</div>  
					<div class="col-md-6 col-sm-6 col-xs-6 gallery-grid-img gallery-mdl hover ehover14">
						<a class="example-image-link" href="http://res.cloudinary.com/nexpals/image/upload/v1511948417/g1_pggm2n.jpg" data-lightbox="example-set" data-title="">
							<img class="example-image img-responsive" src="https://farm5.staticflickr.com/4526/38668187746_f896d1f6cd_b.jpg" alt="Certificate Handover"/>
							<div class="overlay">
								<h4>Certificate Handover</h4>
							</div> 
						</a> 
					</div>
					<div class="col-md-4 col-sm-4 col-xs-6 gallery-grid-img hover ehover14"> 
						<a class="example-image-link" href="http://res.cloudinary.com/nexpals/image/upload/v1511948417/g1_pggm2n.jpg" data-lightbox="example-set" data-title="">
						<img class="example-image img-responsive" src="https://farm5.staticflickr.com/4518/38691556902_37c26f4baf_b.jpg" alt=""/>
							<div class="overlay">
								<h4>Youth Empowerment</h4>
							</div> 
						</a> 
					</div>  
					<div class="col-md-4 col-sm-4 col-xs-6 gallery-grid-img hover ehover14">
						<a class="example-image-link" href="http://res.cloudinary.com/nexpals/image/upload/v1511948417/g1_pggm2n.jpg" data-lightbox="example-set" data-title="">
							<img class="example-image img-responsive" src="https://farm5.staticflickr.com/4573/38668192626_8cfcc2c371_b.jpg" alt=""/> 
							<div class="overlay">
								<h4>Girls Education Promotion </h4>
							</div> 
						</a> 
					</div>
					<div class="col-md-4 col-sm-4 col-xs-6 gallery-grid-img hover ehover14">
						<a class="example-image-link" href="http://res.cloudinary.com/nexpals/image/upload/v1511948417/g1_pggm2n.jpg" data-lightbox="example-set" data-title="">
							<img class="example-image img-responsive" src="https://farm5.staticflickr.com/4530/38691556182_b7affa993f_b.jpg" alt=""/>
							<div class="overlay">
								<h4>Women Empowerment</h4>
							</div> 
						</a>
					</div>	
					<div class="clearfix"> </div>	
					<script src="js/lightbox-plus-jquery.min.js"></script>	
				</div> 
			</div> 
		</div>
	</div>
	<!-- //gallery -->   
	<!-- menu js -->
	<script>
		$('.toggle').on('click', function() {
			$('.menu').toggleClass('open');  
			$('.w3nav').toggleClass('show-w3nav');  
			$('.w3nav a').toggleClass('show-w3nav-link');  
			$('.toggle').toggleClass('close');
			$('.header-icon').toggle(800);  
		});
	</script>
	<!-- //menu js -->
	<!-- start-smooth-scrolling -->
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
			
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>
	<!-- //end-smooth-scrolling -->	
	<!-- smooth-scrolling-of-move-up -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/
			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
</body>
</html>