<div class="team-page">
<div class="banner w3about">
	<!-- header -->
	<div class="header">
		<div class="container">
			<div class="header-w3lsrow"> 
				<div class="menu"> 
					<div class="toggle"></div> 
					<ul class="w3nav">
						<li><a href="index.html"> Home</a></li>
						<li><a href="about.html"> About</a></li> 
						<li><a href="gallery.html"> Gallery</a></li> 
						<li><a href="contact.html" class="active"> Contact Us</a></li>
					</ul>
					<div class="clearfix"> </div>
				</div> 
				<div class="logo">
					<h1><a href="index.html">IGIRE</a></h1>
				</div>  
				<div class="header-right">   
					<ul class="hidden-xs header-icon">
						<li><a href="https://web.facebook.com/igirerwandaorganization/" target="_blank"><i class="fa fa-facebook"> </i><span>Facebook</span></a></li>
						<li><a href="https://twitter.com/igirerwandaorg" target="_blank"><i class="fa fa-twitter"> </i><span>Twitter</span></a></li>
						<li><a href="#" target="_blank"><i class="fa fa-linkedin"> </i><span>LinkedIn</span></a></li>
					</ul>
					<div class="clearfix"> </div> 
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //header --> 
	<!-- banner-text -->
	<div class="banner-text"> 
		<div class="container"> 
			<div class="banner-w3lstext">
				<h2>Our Team</h2>
			</div> 	 
		</div>
	</div>
	<!-- //banner-text --> 
</div>

<div class="the-team">
	<div class="row mb-50">
		<div class="col-team col-xs-4 col-md-4">
			<figure class="team-profile">
				<img alt=""  src="http://res.cloudinary.com/nexpals/image/upload/v1516658881/Jean_Jacques_cdzcff.jpg">
				<figcaption class="team-caption">
					<div class="team-meta">
						<p class="team-bio hidden-xs">
							<small>Jean Jacques holds a Bachelor's Degree in Health Care Management from Southern New Hampshire University. He is interested in community development projects especially in education and health domains. I enjoy working on projects that help in improving the quality of Education and Health in different communities.</small>
						</p>
					</div>
					<ul class="team-social social-list">
						<li>
						<a href="https://web.facebook.com/jeanjacques.iradukunda" target="_blank" class="fa fa-facebook"></a>
						</li>
						<li>
						<a href="https://twitter.com/" target="_blank" class="fa fa-twitter"></a>
						</li>
						<li>
						<a href="https://www.linkedin.com/in/jean-jacques-iradukunda-867aa1103/"></a>
						</li>
						<!-- <li>
						<a href="https://www.instagram.com/" target="_blank" class="fa fa-instagram"></a>
						</li> -->
					</ul>
				</figcaption>
			</figure>
			<div class="member-title">
				<h4 class="text-center">Jean Jacques</h4>
				<h6 class="text-center">Chief of Operations/ Co-Founder </h6>
			</div>
		</div>
	  <div class="col-team col-xs-4 col-md-4">
	  	<figure class="team-profile">
	  		<img alt=""  src="http://res.cloudinary.com/nexpals/image/upload/v1516658882/Joshua_drkbft.jpg">
	  		<figcaption class="team-caption">
	  			<div class="team-meta">
	  				<p class="team-bio hidden-xs">
	  					<small>Josh Stephen Kawanguzi is passionate about youth development and improving the quality of Education. He is completing his bachelor’s degree in Logistics and Operations from Southern New Hampshire University (USA).</small>
	  				</p>
	  			</div>
	  			<ul class="team-social social-list">
	  				<!-- <li>
	  				<a href="https://www.facebook.com/" target="_blank" class="fa fa-facebook"></a>
	  				</li>
	  				<li>
	  				<a href="https://twitter.com/" target="_blank" class="fa fa-twitter"></a>
	  				</li> -->
	  				<li>
	  				<a href="https://www.linkedin.com/in/joshua-stephen-kawanguzi-3a445011a/" target="_blank" class="fa fa-linkedin"></a>
	  				</li>
	  				<!-- <li>
	  				<a href="https://www.instagram.com/" target="_blank" class="fa fa-instagram"></a>
	  				</li> -->
	  			</ul>
	  		</figcaption>
	  	</figure>
	  	<div class="member-title">
	  		<h4 class="text-center">Joshua Stephen Kawanguzi</h4>
	  		<h6 class="text-center">Communication Officer</h6>
	  	</div>
	  </div>
	  <div class="col-team col-xs-4 col-md-4">
	  	<figure class="team-profile">
	  		<img alt=""  src="http://res.cloudinary.com/nexpals/image/upload/v1516658887/Arnaud_ck2a74.png">
	  		<figcaption class="team-caption">
	  			<div class="team-meta">
	  				<p class="team-bio hidden-xs">
	  					<small>Arnaud is a sophomore at Kepler University Program, doing Healthcare Management with a Concentration in Global Perspectives. He is Rwandan by his mother and Burundian by his father. He is passionate about education, health promotion, French, and community engagement. He has a five-year experience in health education and social media communication. In his free times, Arnaud enjoys jogging and quiz games.</small>
	  				</p>
	  			</div>
	  			<ul class="team-social social-list">
	  				<li>
	  				<a href="https://www.facebook.com/arnaud.michel.nibaruta" target="_blank" class="fa fa-facebook"></a>
	  				</li>
	  				<li>
	  				<a href="https://www.twitter.com/manibaruta" target="_blank" class="fa fa-twitter"></a>
	  				</li>
	  				<!-- <li>
	  				<a href="https://www.linkedin.com/" target="_blank" class="fa fa-linkedin"></a>
	  				</li> -->
	  				<li>
	  				<a href="https://www.instagram.com/arnaud.nibaruta" target="_blank" class="fa fa-instagram"></a>
	  				</li>
	  			</ul>
	  		</figcaption>
	  	</figure>
	  	<div class="member-title">
	  		<h4 class="text-center">Arnaud Michel Nibaruta</h4>
	  		<h6 class="text-center">Executive Assistant Officer</h6>
	  	</div>
	  </div>
	</div>
	<div class="row mb-50">
		<div class="col-team col-xs-4 col-md-4 col-xs-offset-2 col-md-offset-2">
			<figure class="team-profile">
				<img alt=""  src="http://res.cloudinary.com/nexpals/image/upload/v1516660356/AAEAAQAAAAAAAAjLAAAAJDM4ZGJjZDM5LWI2ZTAtNGVkYS1hYjc5LTJkNzAxYzNiMWQzNw_kxvsfq.jpg">
				<figcaption class="team-caption">
					<div class="team-meta">
						<p class="team-bio hidden-xs">
							<small> Innocent is founder and Chief Executive Office of Igire Rwanda Organization. Prior to founding Igire Rwanda Organization (IRO), Innocent served as Administrative Assistant at the Yeejo TV where he managed internal and external operations. Prior to joining Yeejo TV, he served as customer executive at Airtel Rwanda. He holds bachelor's  degree in Education and Economics from the National University of Rwanda. He also has a bachelor's degree in Management from the Southern New Hampshire University in USA. He has dedicated his professional life to improve the quality of education in Africa and supporting young people to become self-reliant.</small>
						</p>
					</div>
					<ul class="team-social social-list">
						<li>
						<a href="https://www.facebook.com/" target="_blank" class="fa fa-facebook"></a>
						</li>
						<li>
						<a href="https://twitter.com/" target="_blank" class="fa fa-twitter"></a>
						</li>
						<li>
						<a href="https://www.linkedin.com/in/mbanda-innocent-a91737aa/" target="_blank" class="fa fa-linkedin"></a>
						</li>
						<li>
						<a href="https://www.instagram.com/" target="_blank" class="fa fa-instagram"></a>
						</li>
					</ul>
				</figcaption>
			</figure>
			<div class="member-title">
				<h4 class="text-center">Innocent Mbanda</h4>
				<h6 class="text-center">CEO / Founder </h6>
			</div>
		</div>	
		<div class="col-team col-xs-4 col-md-4 ">
			<figure class="team-profile">
				<img alt=""  src="http://res.cloudinary.com/nexpals/image/upload/v1516660261/AAEAAQAAAAAAAA1tAAAAJDQxMTBmODM4LTY1YjYtNDZkYS1iZGRiLWFhNzc3NDBkOWZkZg_pe8boq.jpg">
				<figcaption class="team-caption">
					<div class="team-meta">
						<p class="team-bio hidden-xs">
							<small> Facilitator at Pivot Academy Mothering Across Continents-Pivot Academy
 							Southern New Hampshire University. He is young African -Rwandan and Burundian- passionate about improving the quality of education and Health Care systems globally, focusing in rural areas, refugee camps, and developing countries.</small>
						</p>
					</div>
					<ul class="team-social social-list">
				<!-- 		<li>
						<a href="https://www.facebook.com/" target="_blank" class="fa fa-facebook"></a>
						</li>
						<li>
						<a href="https://twitter.com/" target="_blank" class="fa fa-twitter"></a>
						</li> -->
						<li>
						<a href="https://www.linkedin.com/in/joe-ntwali-8b9624102/"></a>
						</li>
						<!-- <li>
						<a href="https://www.instagram.com/" target="_blank" class="fa fa-instagram"></a>
						</li> -->
					</ul>
				</figcaption>
			</figure>
			<div class="member-title">
				<h4 class="text-center">Joe Ntwali</h4>
				<h6 class="text-center">Director of Youth Program</h6>
			</div>
		</div>	
	</div>
	<div class="row mb-50">
		<div class="col-team col-xs-4 col-md-4">
			<figure class="team-profile">
				<img alt=""  src="http://res.cloudinary.com/nexpals/image/upload/v1516658881/Fabrice_trebmf.jpg">
				<figcaption class="team-caption">
					<div class="team-meta">
						<p class="team-bio hidden-xs">
							<small>MWISENEZA Alain Fabrice.  He has a bachelor degree in law from National university of Rwanda; I have also a diploma in legal Practice from Institute of legal Practice and Development of Rwanda and a certificate of leadership from Compassion International. I am working in CFL Advocates (Law Firm). I am passionate about development of youth in all fields of life, especially in justice; the development of the youth we all wish, is impossible without justice and equality of people, every youth must know his right and obligation in his development and also in development of the country. I hope together we can make change.</small>
						</p>
					</div>
					<ul class="team-social social-list">
						<li>
						<a href="https://www.facebook.com/" target="_blank" class="fa fa-facebook"></a>
						</li>
						<li>
						<a href="https://twitter.com/" target="_blank" class="fa fa-twitter"></a>
						</li>
						<li>
						<a href="https://www.linkedin.com/" target="_blank" class="fa fa-linkedin"></a>
						</li>
						<li>
						<a href="https://www.instagram.com/" target="_blank" class="fa fa-instagram"></a>
						</li>
					</ul>
				</figcaption>
			</figure>
			<div class="member-title">
				<h4 class="text-center">MWISENEZA Alain Fabrice</h4>
				<h6 class="text-center">Public Relations</h6>
			</div>
		</div>
	  <div class="col-team col-xs-4 col-md-4">
	  	<figure class="team-profile">
	  		<img alt=""  src="http://res.cloudinary.com/nexpals/image/upload/v1516658882/Liza_jcka60.jpg">
	  		<figcaption class="team-caption">
	  			<div class="team-meta">
	  				<p class="team-bio hidden-xs">
	  					<small>Liza Imbonabake, a graduate at Southern New Hampshire University through Kepler program in Bachelors of Management concentration in logistics and operations. Liza was born and raised in Rwanda.
						Liza is a passionate lady that believes in hard work, determination and discipline. She is passionate in debate, social volunteering, women empowerment, and enjoys bringing out the best in her and her fellows.
						</small>
	  				</p>
	  			</div>
	  			<ul class="team-social social-list">
	  				<!-- <li>
	  				<a href="https://www.facebook.com/" target="_blank" class="fa fa-facebook"></a>
	  				</li>
	  				<li>
	  				<a href="https://twitter.com/" target="_blank" class="fa fa-twitter"></a>
	  				</li> -->
	  				<li>
	  				<a href="https://www.linkedin.com/in/imbonabake-liza-b7b841102/" target="_blank" class="fa fa-linkedin"></a>
	  				</li>
	  				<!-- <li>
	  				<a href="https://www.instagram.com/" target="_blank" class="fa fa-instagram"></a>
	  				</li> -->
	  			</ul>
	  		</figcaption>
	  	</figure>
	  	<div class="member-title">
	  		<h4 class="text-center">Liza Imbonabake</h4>
	  		<h6 class="text-center">Director of Gender Development</h6>
	  	</div>
	  </div>
	  <div class="col-team col-xs-4 col-md-4">
	  	<figure class="team-profile">
	  		<img alt=""  src="http://res.cloudinary.com/nexpals/image/upload/v1516660006/AAEAAQAAAAAAAAeQAAAAJGJiMjc5M2Q1LWYzMDYtNDBlYy04ODdjLWYwNGZkYWYxOGVmNw_qjfyx1.jpg">
	  		<figcaption class="team-caption">
	  			<div class="team-meta">
	  				<p class="team-bio hidden-xs">
	  					<small>
	  					My name is Uwayezu is full stack developer, He worked as a mentor at Programmers 4 Peace Boot-camp. He is specialist in developing a website for a local NGO and two web applications. He mastered  in ruby on rails, JavaScript and CSS. He is full  backend and front end development.</small>
	  				</p>
	  			</div>
	  			<ul class="team-social social-list">
	  				<li>
	  				<a href="https://www.facebook.com/rogerpacifiqueu"></a>
	  				</li>
	  				<li>
	  				<a href="https://twitter.com/paciroger" target="_blank" class="fa fa-twitter"></a>
	  				</li>
	  				<li>
	  				<a href="https://www.linkedin.com/in/roger-uwayezu-a52a07103"></a>
	  				</li>
	  				<!-- <li>
	  				<a href="https://www.instagram.com/" target="_blank" class="fa fa-instagram"></a>
	  				</li> -->
	  			</ul>
	  		</figcaption>
	  	</figure>
	  	<div class="member-title">
	  		<h4 class="text-center">UWAYEZU ROGER</h4>
	  		<h6 class="text-center">IT Officer</h6>
	  	</div>
	  </div>
	</div>
</div>

<script>
	$('.toggle').on('click', function() {
		$('.menu').toggleClass('open');  
		$('.w3nav').toggleClass('show-w3nav');  
		$('.w3nav a').toggleClass('show-w3nav-link');  
		$('.toggle').toggleClass('close');
		$('.header-icon').toggle(800);  
	});
</script>
<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
		
		$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
</script>
<!-- //end-smooth-scrolling -->	
<!-- smooth-scrolling-of-move-up -->
<script type="text/javascript">
	$(document).ready(function() {
		/*
		var defaults = {
			containerID: 'toTop', // fading element id
			containerHoverID: 'toTopHover', // fading element hover id
			scrollSpeed: 1200,
			easingType: 'linear' 
		};
		*/
		
		$().UItoTop({ easingType: 'easeOutQuart' });
		
	});
</script>
</div>
