<!DOCTYPE html>
<html>
  <head>
    <title>Igire</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- <link href="//fonts.googleapis.com/css?family=Dancing+Script:400,700" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'> -->
  </head>

  <body>
    <%= yield %>
    <!-- footer -->
    <div class="footer">
    	<div class="container">
    		<div class="col-md-4 footer-grids">
    			<h3>Story</h3>
    			<p><small>Igire Rwanda Organisation [IRO] is a Non-Governmental organisation that was established in 2016.Igire Rwanda Organization helps youth to use skills, talents and opportunities they have to create solutions to the challenge facing our community</small></p>
    		</div>
    		<div class="col-md-3 footer-grids">
    			<h3>Contact Us</h3>
    			<p>KG11 Av 183 <br>
    				<span>Phone: +250785668160</span>
    			</p>
    			<div class="footer-bottom">
    				<a href="https://web.facebook.com/igirerwandaorganization/" target="_blank"><i class="fa fa-facebook"> </i><span>Facebook</span></a>
    				<a href="https://twitter.com/igirerwandaorg" target="_blank"><i class="fa fa-twitter"> </i><span>Twitter</span></a>
    				<a href="#" target="_blank"><i class="fa fa-google-plus"> </i><span>Google +</span></a>
    				<a href="#" target="_blank"><i class="fa fa-linkedin"> </i><span>LinkedIn</span></a>
    			</div>
    		</div>
    		<div class="col-md-5 footer-grids">
    			<h3>Media</h3>
    			<a  class="footer-img" href=""><img src="https://farm5.staticflickr.com/4560/37852645945_9e4ddabce4_z.jpg" alt=""></a>
    			<a class="footer-img" href=""><img src="https://farm5.staticflickr.com/4558/24867268518_3475cff8ca_c.jpg" alt=""></a>
    			<a class="footer-img" href=""><img src="https://farm5.staticflickr.com/4565/26948026429_4935452a90_c.jpg" alt=""></a>
    		</div>
    		<div class="clearfix"> </div>
    		<div class="footer-copy">
    			<p>© 2017 IGIRE. All rights reserved | Design by <a href="http://nexpals.com/">Nexpals ltd</a></p>
    		</div>
    	</div>
    </div>
    <!-- //footer --> 
  </body>
</html>
