<!DOCTYPE html>
<html>
  <head>
    <title>Igire</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- <link href="//fonts.googleapis.com/css?family=Dancing+Script:400,700" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'> -->
  </head>

  <body>
    <%= yield %>

    <!-- footer -->
    <footer class="footer py-5">
      <div class="newsletter_right_w3w3pvt-lau bg-light py-5" id="subscribe">
  				<div class="container py-xl-5 py-lg-3">
  					<h3 class="text-center ont-weight-bold">Subscribe to our Newsletter</h3>
  					<p class="sub-tittle text-center mt-3 mb-sm-5 mb-4">Sign up for our monthly newsletter to stay up-to-date on the latest Igire news!</p>
  					<div class="n-right-w3ls">
  						<form action="#" method="post">
  							<div class="row">
  								<div class="col-md-4 form-group">
  									<input class="form-control" type="text" name="Name" placeholder="Name" required="">
  								</div>
  								<div class="col-md-4 form-group px-md-0">
  									<input class="form-control" type="email" name="Email" placeholder="Email Address" required="">
  								</div>
  								<div class="col-md-4 form-group mt-md-0 mt-3">
  									<input class="form-control submit text-uppercase" type="submit" value="Subscribe">
  								</div>
  							</div>
  						</form>
  					</div>
  				</div>
  			</div>
		<div class="container py-xl-4 py-lg-3">
			<div class="address row mb-4">
				<div class="col-lg-4 address-grid">
					<div class="row address-info">
						<div class="col-md-3 col-4 address-left text-lg-center text-sm-right text-center">
							<i class="fa fa-envelope"></i>
						</div>
						<div class="col-md-9 col-8 address-right">
							<p>
								<a href="info@igire-rwanda.org" class="text-light">info@igirerwanda.org</a>
							</p>
						</div>

					</div>
				</div>
				<div class="col-lg-4 address-grid my-lg-0 my-4">
					<div class="row address-info">
						<div class="col-md-3 col-4 address-left text-lg-center text-sm-right text-center">
							<i class="fa fa-phone"></i>
						</div>
						<div class="col-md-9 col-8 address-right">
							<p class="text-light text-white ">+250 785 668 160</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 address-grid">
					<div class="row address-info">
						<div class="col-md-3 col-4 address-left text-lg-center text-sm-right text-center">
							<i class="fa fa-map"></i>
						</div>
						<div class="col-md-9 col-8 address-right">
							<p class="text-light text-white ">KG 11 Ave, #183</p>
							<p class="text-light text-white ">Kigali, Rwanda</p>
						</div>
					</div>
				</div>
			</div>
			<!-- social icons footer -->
			<div class="w3l-footer text-center pt-lg-4 mt-5">
				<ul class="list-unstyled">
					<li>
						<a href="https://web.facebook.com/igirerwandaorganization/">
							<i class="fa fa-facebook-f"></i>
						</a>
					</li>
					<li class="mx-1">
						<a href="https://twitter.com/igirerwandaorg">
							<i class="fa fa-twitter"></i>
						</a>
					</li>
					<li>
						<a href="#" target="_blank">
							<i class="fa fa-linkedin"></i>
						</a>
					</li>
					<li class="ml-1">
						<a href="#">
							<i class="fa fa-google"></i>
						</a>
					</li>
				</ul>
			</div>
			<!-- copyright -->
			<p class="copy-right-grids text-light text-center text-white mt-4">© 2018 Igire. All Rights Reserved | Design by
				<a href="https://w3layouts.com/" target="_blank">W3layouts</a>
			</p>
			<!-- //copyright -->
		</div>
	</footer>

    <!-- //footer -->
  </body>
</html>
